@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}


/* *=========== Orange theme =========== */

@layer base {
     :root {
        --background: 174 85.9% 73.9%;
        /* #02dbd0 */
        --foreground: 20 14.3% 4.1%;
        /* ~#0a0807 */
        --card: 176 97.3% 34.5%;
        /* #ffffff */
        --card-foreground: 20 14.3% 4.1%;
        /* ~#0a0807 */
        --popover: 0 0% 100%;
        /* #ffffff */
        --popover-foreground: 20 14.3% 4.1%;
        /* ~#0a0807 */
        --primary: 50.4 97.8% 63.5%;
        /* #f5d11f */
        --primary-foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --secondary: 60 4.8% 95.9%;
        /* ~#f8f8f3 */
        --secondary-foreground: 24 9.8% 10%;
        /* ~#1a1613 */
        --muted: 60 4.8% 95.9%;
        /* ~#f8f8f3 */
        --muted-foreground: 24.9 2.4% 40;
        --accent: 60 4.8% 95.9%;
        /* ~#f8f8f3 */
        --accent-foreground: 24 9.8% 10%;
        /* ~#1a1613 */
        --destructive: 47.3 91.8% 53.3%;
        /* #f25555 */
        --destructive-foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --border: 20 5.9% 90%;
        /* ~#e9e8e4 */
        --input: 20 5.9% 90%;
        /* ~#e9e8e4 */
        --ring: 24.6 95% 53.1%;
        /* #f5b918 */
        --radius: 0.5rem;
    }
    .dark {
        --background: 180 100% 4.3%;
        /* ~#0a0807 */
        --foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --card: 176 100% 8.2%;
        /* ~#161310 */
        --card-foreground: 0 0% 95%;
        /* #f2f2f2 */
        --popover: 20 14.3% 4.1%;
        /* ~#0a0807 */
        --popover-foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --primary: 50.4 97.8% 63.5%;
        /* #f5d11f */
        --primary-foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --secondary: 12 6.5% 15.1%;
        /* ~#271f1b */
        --secondary-foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --muted: 12 6.5% 15.1%;
        /* ~#271f1b */
        --muted-foreground: 24 5.4% 63.9%;
        /* ~#a59c8e */
        --accent: 12 6.5% 15.1%;
        /* ~#271f1b */
        --accent-foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --destructive: 47.3 91.8% 53.3%;
        /* #e53939 */
        --destructive-foreground: 60 9.1% 97.8%;
        /* ~#fefdfb */
        --border: 12 6.5% 15.1%;
        /* ~#271f1b */
        --input: 12 6.5% 15.1%;
        /* ~#271f1b */
        --ring: 20.5 90.2% 48.2%;
        /* #f18c1f */
    }
}

.shadow-light {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}